\input:required {
	border-left: 4px solid #c33;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
	color: #c33;
	border-color: #c33;
}

input:focus:invalid:focus,
textarea:focus:invalid,focus,
select:focus:invalid:focus {
	border-color: #c33;
	-webkit-box-shadow: 0 0 6px #fcc;
		-moz-box-shadow: 0 0 6px #fcc;
			box-shadow: 0 0 6px #fcc;
}

body{
	
 background-color: #FFF;
}
form {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 700px;
  	background: #fff;
  	padding: 0px 20px 20px 10px;
  	margin: 190px auto 30px;
  	box-sizing: border-box;
  	box-shadow: 0 0 1em #222;
  	border-radius: 2px;
  	font-family: "lato";
}

h5 {
	color: #435160;
	font-size: 16px;
	margin: 2px;
}

input {
	margin-bottom: 5px;
}

.left {
	width: 50%;
	float: left;	
}

.right {
	width: 45%;
	float: right;
	text-align: left;
}


h1 {
	color: #A94343;
	font-family: "lato";
	font-weight: bold;
	font-size: 33px;
	text-align: center;
	margin-bottom: 0;
}

h3 {
	color: #435160;
	font-weight: bold;
	font-size: 20px;
}

h4 {
	color: #909497;
	font-size: 15px;
}


input[type="text"] {
	display: inline-block;
  	width: 250px;
  	padding: 7px 12px;
  	background: transparent;
  	border: none;
  	border-bottom: 1px solid #435160;
  	outline: none;
  	border-top: none;
  	border-left: none;
  	border-right: none;
  	height: 30px;
  	color: #6D7781;
  	font-size: 15px;
  	font-weight: bold;
  	border-radius: 7px;
}


input[type="password"] {
        display: inline-block;
        width: 250px;
        padding: 7px 12px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #435160;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 30px;
        color: #6D7781;
        font-size: 15px;
        font-weight: bold;
        border-radius: 7px;
}

input[type="submit"] {
	background: #A94343;
	border: 0;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
	background: #A94343;
	animation-name: shake;
}


.animated {
	animation-duration: 2s;
	animation-fill-mode: both;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
